<link rel="stylesheet" href="tasks.css">
<body class="task">
<% @tasks.each do |task| %>
  <%= link_to task_path(task) do %>   
    <div href="/tasks/#{task.id}"> 
      <div> <%= task.priority %> <%= task.name %> </div>
    </div> 
  </body>
  <% end %>
<% end %>