body {
    text-align:center; 
    background-color:powderblue; 
    margin: 0; 
    padding-left: 0
}

@import url(https://fonts.googleapis.com/css?family=Lora);
body {margin:0;}
h2 {
  font-family: monospace;
  color: rgb(176, 224, 230);
}
ul {
  list-style: none; 
  margin: 0 auto;
}
a {
  text-decoration: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
i {
  margin-right: 10px;
}
nav {
  display: block;
 
  margin: 0 auto 30px;
}
.navbar ul {
  padding: 1em 0;
  background: powderblue;
}
.navbar a {
  padding: 1em;
  background: rgb(150, 196, 202);
  border-right: 1px solid rgb(128, 174, 180);
  color: rgb(51, 71, 74);
}
.navbar a:hover {background: rgb(129, 175, 181);}
.navbar li {
  display: inline;
}

.index {
  font-size:99px;
}
